// ================ INDEX PAGE ===================

.navbar-default .navbar-brand {
  color: #fcbe46;
}

  .my-header a {
    padding-top: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Oswald', sans-serif;
    color: #f8f8f8;
    font-size: 60px;
    line-height: 1px;
}

a:hover {

    color: #ffffff;
}

.container-fluid {

}

.specialties {
      margin-left: 15px;
      font-size: 14px;
      color: #8B8080; 
}

.navbar-right {
  padding-top: 25px;
  margin-right: 50px;
}

#contact {
  // height: 300px;
  background-color: #000000;

  .phone {
    margin-bottom: 140px;
  }

  h3 {
    font-family: 'Oswald', sans-serif;
    margin-top: 80px;
    color: #fcbe46;
  }
    p {
      color: #9d9d9d;
      font-family: 'Open Sans';
    }
      .list-email {
        width: 350px;
      }
        #email-submit {
          margin-top: 15px;
        }
}

.site-design {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  color: #000000;
  font-family: 'Open Sans';
}

// ================ HOME PAGE ===================

.hero-content {
  // margin-top: 85px;
  background: url("https://lh3.googleusercontent.com/Td1FcnJvU7h_3jrRJzwSGiMD8M-0tyKvSdezMD_OUIM=w1265-h733-no") no-repeat fixed;
  width: 100%;
  height: 100vh;
  // position: relative;
  // background-position: center;
  background-color: #000000;
  // background-size: cover;

  .schedule {
    float: right;
  }


  h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  // text-align: center;
  // margin-right: 75px;
  margin-top: 150px;
  margin-bottom: 20px;
  color: #fcbe46;
  }

  .show-list {
    margin-bottom: 15px;
    // background-color: #000000;
    color: #8B8080;
    border: none;
    font-size: 16px;
  }
}

.past-shows {
  font-family: 'Open Sans';
  color: #fcbe46;
  font-size: 14px;
}

#past-shows {
  margin-top: 50px;
  font-family: 'Oswald', sans-serif;
  color: #312F2F;
  font-size: 14px;

  h1 {
    margin-bottom: 25px;
  }

  .show-list {
    margin-top: 10px;
    font-family: 'Open Sans';
    font-size: 16px;
    color: #676563;
  }
}

.review-person {
    font-family: 'Open Sans';
    font-size: 20px;
    color: #fcbe46;
}

.review-content {
  font-family: 'Open Sans';
  color: #676563;
  font-size: 16px;
  margin-bottom: 50px;
}


// ================ ABOUT PAGE ===================

#about {
  margin-top: 105px;
  font-family: 'Open Sans';
  font-size: 18px;
  color: #676563;
  background-color: #f8f8f8;

  .about-heading {
    font-family: 'Oswald', sans-serif;
    color: #312F2F;
  }

  h1 {
    font-family: 'Open Sans';
    color: #312F2F;
  }
    .col-md-4 {
      margin-top: 200px;
      border-right: solid 8px;
      // border-bottom: solid 8px;
      color: #312F2F;
    }

    // #photo1 {
      // height: 600px;
      // width: 100%;
      // background-image: url("/images/hitzVintage.jpg");
      // background-size: cover;
      // border: none;
    // }

    #second-picture {
      margin-top: 0px;
      margin-left: 30px;
      border: none;
      height: 500px;
      width: 500px;
      background-size: cover;
      background-image: url("/images/touched2_kent_cropped.png")
    }

    #big-text {
      color: #312F2F;
    }
}

//  .navbar.transparent.navbar-inverse {
 
//     border-width: 0px;
//     -webkit-box-shadow: 0px 0px;
//     box-shadow: 0px 0px;
//     background-color: rgba(0,0,0,0.25);
//     background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 100% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
//     background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
//     background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
// }



//   .scroll {
//   width: 100px;
//   height: 50px;
//   border-radius: 50px 50px 0px 0px;
//   background-color: #ffffff;
//   position: absolute;
//   bottom: 0;
//   left: 45%;
// }


  .glyphicon-menu-down {
  bottom: 0;
  margin-top: 550px;
  left: 50%;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;


  }


.panel-body {
  width: 500px;
}





      // ul {         
      //     padding:0 0 0 0;
      //     margin:0 0 0 0;
      // }
      // ul li {     
      //     list-style:none;
      //     margin-bottom:25px;           
      // }
      // ul li img {
      //     cursor: pointer;
      // }

    // .schedule {

    //   color: #f8f8f8;
      

    // }



// .nav-navbar {
//   height: 35px;
//   width: 100%;
//   text-align: center;
  

// //   li {
// //     color: #FFFFFF;
// //     font-family: 'Open Sans';
// //     display: inline-block;
// //     text-align: right;
// //     padding-right: 20px;
// //     padding-left: 10px;
// //     padding-top: 0px;
// //     font-size: 14px;
// //     background-color: #000000;
// //   }
// }


// .header {

//   h1 {
//     margin-top: 10px;
//     margin-bottom: 0px;
//     margin-left: 10px;
//     padding-right: 25px;
//     padding-bottom: 0px;
//     font-family: 'Gruppo', cursive;
//     font-size: 80px;
//     line-height: .75;
//     text-align: left;

//   }

//     h5 {
//       margin-top: 0px;
//       padding-top: 0px;
//       padding-left: 15px;
//       font-family: 'Open Sans';
//       font-size: 14px;
//       text-align: left;

//     }
//         .nav-links {
//           text-align: right;
//           display: inline-block;
//           font-family: 'Open Sans';
//           padding-top: 0px;
//           margin-top: 0px;
//         }
      
    
// }



.navbar-fixed-top {
  background-color: #000000;
}

// ================ PHOTOS PAGE ===================

.photos {
  background-color: #f8f8f8;

  .photo-header {
    margin-top: 65px;
    background-color: #f8f8f8;
  }

    h1 {
      font-family: 'Oswald', sans-serif;
      font-size: 35px;
      color: #312F2F;
    }

      p {
        color: #fcbe46;
        font-family: 'Open Sans';
        font-size: 18px;
        margin-bottom: 30px;
      }

        #images {
          display: inline-block;
          width: 200px;
          height: 200px;
          margin: 10px;
        }

          #img-thumbnail {
            background-position: 50% 25%;
            background-size: cover;
            height: 100%;
            width: 100%;  
          }
}

// ================ LOGIN PAGE ===================

.login-details {
  margin-top: 50px;
  margin-bottom: 50px;

  .space {
    margin-top: 100px;
  }

    .glyphicon-remove {
      float: left;
      margin-right: 20px;
    }
      .showtime {
        float: right;
      }

        .venue {
          text-align: right;
          margin-right: 20px;
        }

          .bottom-space {
            margin-bottom: 50px;
          }
}


// ================ MUSIC PAGE ===================
#songs {
  background-color: #f8f8f8;
}

.song-heading {
  margin-bottom: 40px;
}



.page-heading {
  margin-top: 125px;
  font-family: 'Oswald', sans-serif;
  text-align: left;
  color: #312F2F;
}

.song-artist {
  color: #FCBE46;
}

// ================ LISTEN PAGE ===================

#listen {
  margin-top: 105px;
  background-color: #f8f8f8;

  .listen-heading {
    font-family: 'Oswald', sans-serif;
    color: #312F2F;
  }

    .music-widget {
      margin-top: 30px;
      margin-bottom: 50px;
      text-align: center;
  }
}
