<div class='hero-content' > <!-- Hero content -->
 <div class='container'>
     <h1>upcoming shows</h1>
     <div class="schedule">
   <div class="row">
    <div class="col-md-4">

     <ul class="list-group" ng-repeat="show in shows">
       <li class="list-group-item">{{ show.date}}:<span class="venue"> {{ show.venue}}</span><span class="showtime"> {{ show.time}} </span></li>
     </ul>
    </div>
    
   </div> 
  </div>
  </div>
<!--    <ul class="schedule" ng-repeat="show in shows">
    <li> {{ show.date}}<span class="venue"> {{ show.venue}}</span><span class="showtime"> {{ show.time}} </span></li>  
   </ul> -->

   <div class="scroll">
     <div class="container">
       <div class="row">
         <div class="col-md-4 col-md-offset-4">      
           <a class="glyphicon mine glyphicon-menu-down" href="#about"></a>
         </div>
       </div>
     </div>
   </div> 



</div>
   


