<div class='hero-content' > <!-- Hero content -->
  <div class='container'>

    <div class="schedule">
      <div class="row">
        <div class="col-md-12">
          <h1>upcoming shows</h1>
           <ul class="list-group" >
             <li class="show-list" ng-repeat="show in shows"><span class="date-text">{{ show.date}}:</span><span class="venue-text"> {{ show.venue}}</span><span class="showtime-text"> {{ show.time}} </span></li>
           </ul>
          </div>
    </div>

   </div> 
  </div>
  </div>


<!--    <ul class="schedule" ng-repeat="show in shows">
    <li> {{ show.date}}<span class="venue"> {{ show.venue}}</span><span class="showtime"> {{ show.time}} </span></li>  
   </ul> -->

   <div class="scroll">
     <div class="container">
       <div class="row">
         <div class="col-md-4 col-md-offset-4">      
           <a class="glyphicon mine glyphicon-menu-down" href="#about"></a>
         </div>
       </div>
     </div>
   </div> 

   </div>
    <div class="music-widget">
     <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/213145619%3Fsecret_token%3Ds-SKF1q&amp;color=ff5500&amp;auto_play=true&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
   </div>
   


