<div id="listen">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="listen-heading">LISTEN</h1>
        </br>
      </div>
    </div>
  </div>
  <div class="music-widget">
    <iframe width="80%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/125779129%3Fsecret_token%3Ds-2A1ez&amp;color=ff5500&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false"></iframe>
  </div>
</div>